.gallery {
    &__image {
        padding: '2rem';
        height: 100%;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
    }
    &__miniatures {
        margin-top: 50px;
        text-align: center;
    }
    &__miniature {
        width: 60px;
        height: 60px;
        margin: 7px 2px;
        display: inline-block;
        overflow: hidden;
    }
    &__mini-image {
        max-width: 100%;
        object-fit: cover;
        border-radius: 4px;
        cursor: pointer;
    }
}