.product {
    padding-bottom: 2rem;
    &__img {
        height: 300px;
        object-fit: cover;
    }
    &__text {
        flex: 0 0 40%;
    }
    &__link {
        flex: 0 0 60%;
        height: 60%;
        padding: 1rem;
        position: relative;
    }
    &__title {
        font-size: .8rem;
    }
    &__price {}
    &__description {
        font-size: 0.7rem;
        overflow: hidden;
        height: 80px;
        margin-bottom: 100px;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }
    &__add-to-cart {
        position: absolute;
        bottom: 4.5rem;
        width: 60%;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);
        transition: all .2s;
        padding: 3px 12px;
    }
    &__add-to-favourites {
        position: absolute;
        bottom: 2rem;
        width: 60%;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);
        transition: all .2s;
        padding: 3px 12px;
    }
    &:hover &__add-to-cart {
        visibility: visible;
        opacity: 1;
    }
    &:hover &__add-to-favourites {
        visibility: visible;
        opacity: 1;
    }
    &:hover .owl-dots {
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .product {
        height: auto !important;
        &__add-to-cart {
            visibility: visible;
            opacity: 1;
        }
        &__add-to-favourites {
            visibility: visible;
            opacity: 1;
        }
        & .owl-dots {
            display: inline-block;
        }
    }
}